
<div class="figure">
<svg id="armijo_rule"></svg>
</div>
<span onclick="up();">ddd</span>

<script>

    var up = null;
    $(function() {
    (function(global) {
         
        var objective = function(x){
            return 1.98+  1.34*x-2.35*x*x+  0.908*x*x*x-0.1249*x*x*x*x+  0.0056*x*x*x*x*x;
        }
        var gradient = function(x){
            return 1.34-2*2.35*x+  3*0.908*x*x-4*0.1249*x*x*x+  5*0.0056*x*x*x*x;
        }
        var upperbound = function(x){
            return upper[0].y + (upper[1].y-upper[0].y)/(upper[1].x-upper[0].x)*x;
        }

        var f = [];
        for (var i = 0; i < 10.4; i+=0.2) {
            f.push({x:i,y:objective(i)});
        };
        
        
        
        var x0 = 0.5;
        var alpha = 8; 
        var eta = 4.5;   // current stepwidth
        
        var guess = new d3binding();
        
        up = function(){
            guess.setValue(6);
        }
        
        var upper = [];
        upper.push({x:x0,y:objective(x0)});
        upper.push({x:12,y:0});
        
        // Set the dimensions of the canvas / graph
        var margin = {
            top: 30,
            right: 20,
            bottom: 30,
            left: 50
        },
            width = 600 - margin.left - margin.right,
            height = 270 - margin.top - margin.bottom;

        // Set the ranges
        var x = d3.scale.linear().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(5);

        // Define the line
        var objectiveLine = d3.svg.line()
            .x(function(d) {
                return x(d.x);
            })
            .y(function(d) {
                return y(objective(d.x));
            });

        // Adds the svg canvas
        var svg = d3.select("#armijo_rule")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Scale the range of the f
        x.domain(d3.extent(f, function(d) {
            return d.x;
        }));
        y.domain(d3.extent(f, function(d) {
            return d.y;
        }));
        


        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);
        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height - 6)
            .text("x");

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);
        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("y", 6)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("y=f(x)");
        
        // draw upperbound
        svg.append("line")
          .attr("id","upperbound")
          .attr("x1", x(upper[0].x))
          .attr("y1", y(upper[0].y))
          .attr("x2", x(upper[1].x))
          .attr("y2", y(upper[1].y))
          .attr("stroke-width", 1)
          .attr("stroke", "black");
        
        // draw objective function
        svg.append("path")
            .attr("class", "simple")
            .attr("id", "objective")
            .attr("d", objectiveLine(f));
        
        // vertical difference between upper bound and phi(eta)
        var vl = svg.append("line")
          .attr("class", "strokeFail")
          .attr("stroke-dasharray", "5,5")
          .attr("x1", x(x0+eta))
          .attr("y1", y(upperbound(x0+eta)))
          .attr("x2", x(x0+eta))
          .attr("y2", y(objective(x0+eta)));
        
         
        
        // draw initial position
        svg.append("circle").attr("class", "simple")
            .attr("id", "intersec001")
            .attr("r", 3.5)
            .attr("cx", x(x0))
            .attr("cy", y(objective(x0)));
        
        // draw current stepwith
        var stepwith_point = svg.append("circle");
        stepwith_point.attr("class", "fillFail")
            .attr("id", "intersec001")
            .attr("r", 3.5)
            .attr("cx", x(x0+eta))
            .attr("cy", y(objective(x0+eta)));
        
        var etaBinding = new d3binding();
            etaBinding.connect(stepwith_point, "cx", function(v) {return x(x0+v);});
            etaBinding.connect(stepwith_point, "cy", function(v) {return y(objective(x0+v));});
        
        
        // append the rectangle to capture mouse  
        svg.append("rect")
            .attr("width", width)
            .attr("height", height)
            .style("fill", "none")
            .style("pointer-events", "all")
            .on("mousemove", mousemove)
            .on("mouseout", function(){
                update();
            });

        function update(){
            
        
        
        } 
        function mousemove() {           
           etaBinding.animate(1);
              
        }  




    })();
        });
</script>