
<div class="figure">
<svg id="cubic-deepest-plot"></svg>
<div class="caption">Move the mouse over the graph to see the direction of the gradient</div>
</div>
<script>


    (function(global) {
        // 1.98x^0+  1.34x^1-2.35x^2+  0.908x^3-0.1249x^4+  0.0056x^5
        var objective = function(x){
            return 1.98+  1.34*x-2.35*x*x+  0.908*x*x*x-0.1249*x*x*x*x+  0.0056*x*x*x*x*x;
            return Math.cos(x/15*Math.PI)*60+Math.cos(x/8*Math.PI)*40;
        }
        var gradient = function(x){
            return 1.34-2*2.35*x+  3*0.908*x*x-4*0.1249*x*x*x+  5*0.0056*x*x*x*x;
            return -Math.PI *(4 *Math.sin((Math.PI *x)/15)+5 *Math.sin((Math.PI *x)/8));
        }
        var hessian = function(x){
            return -2*2.35+  3*0.908*2*x - 4*0.1249*3*x*x+  5*0.0056*4*x*x*x;
            return -Math.PI *(4 *Math.sin((Math.PI *x)/15)+5 *Math.sin((Math.PI *x)/8));
        }
        var four = function(x){
            return   3*0.908*2 - 4*0.1249*3*2*x+  5*0.0056*4*3*x*x;
            return -Math.PI *(4 *Math.sin((Math.PI *x)/15)+5 *Math.sin((Math.PI *x)/8));
        }


        var data = [];
        for (var i = 0; i < 10.4; i+=0.2) {
            data.push({x:i,y:objective(i)});
        };

        // Set the dimensions of the canvas / graph
        var margin = {
            top: 80,
            right: 20,
            bottom: 30,
            left: 50
        },
            width = 600 - margin.left - margin.right,
            height = 370 - margin.top - margin.bottom;

        var defaultv = 5.3;
        var a = defaultv;

        // Set the ranges
        var x = d3.scale.linear().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(5);

        // Define the line
        var objectiveLine = d3.svg.line()
            .x(function(d) {
                return x(d.x);
            })
            .y(function(d) {
                return y(objective(d.x));
            });
        
        var approx = function(x,d){
            var v = objective(a);
            if(d>0)  v += gradient(a)*(x-a);
            if(d>1)  v += 0.5*(x-a)*(x-a)*hessian(a);
            if(d>2)  v += 0.166*(x-a)*(x-a)*(x-a)*four(a);
            return v;
        }

        var constLine = d3.svg.line().x(function(d) {return x(d.x);}).y(function(d) {return y( approx(d.x,0));});
        var gradLine = d3.svg.line().x(function(d) {return x(d.x);}).y(function(d) {return y( approx(d.x,1));});
        var quadLine = d3.svg.line().x(function(d) {return x(d.x);}).y(function(d) {return y( approx(d.x,2));});
        var cubicLine = d3.svg.line().x(function(d) {return x(d.x);}).y(function(d) {return y( approx(d.x,3));});

        // Adds the svg canvas
        var svg = d3.select("#cubic-deepest-plot")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");


        // Scale the range of the data
        x.domain(d3.extent(data, function(d) {
            return d.x;
        }));
        y.domain(d3.extent(data, function(d) {
            return d.y;
        }));


        svg.append("path")
            .attr("class", "simple")
            .attr("id", "regline")
            .attr("d", objectiveLine(data));

        svg.append("text").attr("x",x(14)).attr("y",y(objective(14)+10)).text("f(x)");
        
        svg.append("text")
        .attr("id","consttext")
        .attr("x",x(a)+10)
        .attr("y",y(objective(a)+10))
        .attr("class","classD")
        .text("const approx.");
        
        svg.append("text")
        .attr("id","gradtext")
        .attr("x",x(a)+10)
        .attr("y",y(objective(a)+10))
        .attr("class","classC")
        .text("linear approx.");
        
        svg.append("text")
        .attr("id","quadtext")
        .attr("x",x(a)+10)
        .attr("y",y(objective(a)+10))
        .attr("class","classB")
        .text("quadr. approx.");
        
        svg.append("text")
        .attr("id","cubictext")
        .attr("x",x(a)+10)
        .attr("y",y(objective(a)+10))
        .attr("class","classA")
        .text("cubic approx.");

        svg.append("path")
            .attr("class", "helper lineD")
            .attr("id", "constLine")
            .attr("d", constLine(data));
        
        svg.append("path")
            .attr("class", "helper lineC")
            .attr("id", "gradLine")
            .attr("d", gradLine(data));

        svg.append("path")
            .attr("class", "helper lineB")
            .attr("id", "quadLine")
            .attr("d", quadLine(data));
        
        svg.append("path")
            .attr("class", "helper lineA")
            .attr("id", "cubicLine")
            .attr("d", cubicLine(data));
        
        svg.select("#consttext")
            .attr("x",x(8))
            .attr("y",y(approx(8,0)))
            
            svg.select("#gradtext")
            .attr("x",x(8))
            .attr("y",y(approx(8,1)))
            
            svg.select("#quadtext")
            .attr("x",x(8))
            .attr("y",y(approx(8,2)))
            
            svg.select("#cubictext")
            .attr("x",x(8))
            .attr("y",y(approx(8,3)))

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        var cursor = svg.append("circle");
        cursor.attr("class","classA")
              .attr("id", "focusdot")
                .attr("r", 3.5)
                .attr("cx",x(a))
                .attr("cy",y(objective(a)));

        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height - 6)
            .text("x");

        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("y", 6)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("y=f(x)");

        // append the rectangle to capture mouse  
        svg.append("rect")
            .attr("width", width)
            .attr("height", height)
            .style("fill", "none")
            .style("pointer-events", "all")
            .on("mousemove", mousemove)
            .on("mouseout", function(){
                a=defaultv;
                update();
            });

        function update(){
            svg.select("#focusdot")
            .attr("cx",  x(a))                           
            .attr("cy",  y(objective(a)));  

            svg.select("#constLine").attr("d",constLine(data)) ; 
            svg.select("#gradLine").attr("d",gradLine(data)) ; 
            svg.select("#quadLine").attr("d",quadLine(data)) ; 
            svg.select("#cubicLine").attr("d",cubicLine(data)) ; 
            
            
            svg.select("#consttext")
            .attr("x",x(8))
            .attr("y",y(approx(8,0)))
            
            svg.select("#gradtext")
            .attr("x",x(8))
            .attr("y",y(approx(8,1)))
            
            svg.select("#quadtext")
            .attr("x",x(8))
            .attr("y",y(approx(8,2)))
            
            svg.select("#cubictext")
            .attr("x",x(8))
            .attr("y",y(approx(8,3)))
        } 
        function mousemove() {                                
            a = x.invert(d3.mouse(this)[0]); 
            update();   
              
        }  




    })();
</script>