<svg id="meanchart"></svg>

<script>
(function(global) {

var mu_1 = 0;
var mu_2 = 3;
var sigma = 0.5;


var width  = 620,
    height = 320;

var xValue = function(d) { return d.x;},               // data -> value
    xScale = d3.scale.linear().range([0, width]),      // value -> display
    xMap   = function(d) { return xScale(xValue(d));}, // data -> display
    xAxis  = d3.svg.axis().scale(xScale).orient("bottom");

var yValue = function(d) { return d.y;},               // data -> value
    yScale = d3.scale.linear().range([height, 0]),     // value -> display
    yMap   = function(d) { return yScale(yValue(d));}, // data -> display
    yAxis  = d3.svg.axis().scale(yScale).orient("left");

var data = [];
var meancharPlot;

function updateMeanchart(){
    for (var i = 0; i < 50; i+=2) {
        data[i] = {
            x : normalDistr(mu_1,sigma), 
            y : normalDistr(mu_1,sigma), 
            label: 0};
        data[i+1] = {
            x : normalDistr(mu_2,sigma), 
            y : normalDistr(mu_2,sigma), 
            label: 1};
    };


    meancharPlot.selectAll("circle").data(data)
        .transition()
        .duration(1200)
        .attr("cx", xMap)
        .attr("cy", yMap);
}



for (var i = 0; i < 50; i++) {
        data.push({
            x : normalDistr(mu_1,sigma), 
            y : normalDistr(mu_1,sigma), 
            label: 0});
        data.push({
            x : normalDistr(mu_2,sigma), 
            y : normalDistr(mu_2,sigma), 
            label: 1});
    };

    xScale.domain([d3.min(data, xValue)-1, d3.max(data, xValue)+1]);
    yScale.domain([d3.min(data, yValue)-1, d3.max(data, yValue)+1]);

    meancharPlot = d3.select("#meanchart")
        .attr("width", width)
        .attr("height", height);

    meancharPlot.selectAll(".dot")
          .data(data)
          .enter()
          .append("circle")
          .attr("class", function(d){
            if(d.label == 1)
                return "classA";
            return "classB";
          })
          .attr("r", 3.5)
          .attr("cx", xMap)
          .attr("cy", yMap);

    var unkown = [{x:1,y:1}];

    meancharPlot.selectAll(".dot")
          .data(unkown)
          .enter().append("circle")
          .attr("class","unkown")
          .attr("r", 3.5)
          .attr("cx", xScale(unkown[0].x))
          .style("stroke-width", 3)
          .style('stroke','gray')
          .attr("cy", yScale(unkown[0].y));

setInterval(function() {
  updateMeanchart();
}, 1500);

})();

</script>