<svg id="fig_dynamic_gaussians"></svg>

<script>
(function(global) {
 "use strict";
var width  = 620,
    height = 320;

var hnd = d3.select("#fig_dynamic_gaussians");
hnd.attr("width", width);
hnd.attr("height", height);

var mu_1 = 0,mu_2 = 3,sigma = 0.5,num = 50;
var dots = [];

// init all dots
function init(){
  dots = [];
  for (var i = 0; i < num; i++) {
    var dot ={
      mu: mu_1,
      sigma: sigma,
      x: normalDistr(mu_1,sigma),
      y: normalDistr(mu_1,sigma),
      label: 1
    };
    dots.push(dot);
  }
  for (var i = 0; i < num; i++) {
    var dot ={
      mu: mu_2,
      sigma: sigma,
      x: normalDistr(mu_2,sigma),
      y: normalDistr(mu_2,sigma),
      label: 2
    };
    dots.push(dot);
  }
  dots.push({x: 1,y: 1,label: 3});
};
init();


var xScale = d3.scale.linear().range([0, width]);
var yScale = d3.scale.linear().range([height, 0]);
var xMap   = function(d) { return xScale(d.x);}
var yMap   = function(d) { return yScale(d.y);}

xScale.domain([-3, 6]);
yScale.domain([-3, 6]);

function draw(){
     hnd.selectAll(".dot")
        .data(dots)
        .enter()
        .append("circle")
        .attr("class", function(d){
          if(d.label == 1)
            return "classA";
          if(d.label == 2)
            return "classB";
          return "unkown";
        })
        .attr("r", 3.5)
        .attr("cx", xMap)
        .attr("cy", yMap);
}
draw();


function update(){
  for (var i = 0; i < num*2; i++) {
    dots[i].x = normalDistr(dots[i].mu,dots[i].sigma);
    dots[i].y = normalDistr(dots[i].mu,dots[i].sigma);
  }

  hnd.selectAll("circle").data(dots)
         .transition()
         .duration(1200)
         .attr("cx", xMap)
         .attr("cy", yMap);

}

setInterval(function() {
 update();
}, 1500);


})();


</script>