
<div class="figure">
<svg id="laplace-distr-plot"></svg>
<div class="caption">I suggest to use values between 1 and 5 for b.</div>

<span class="buttons">
mu: <input type="text" id="param_a" value="0">
b: <input type="text" id="param_b" value="1">
<input type="button" onclick="resetfield('#param_a',0);resetfield('#param_b',1);" value="reset">
</span>


</div>



<script>


    (function(global) {
        var mu = +$("#param_a").val();
        var b = +$("#param_b").val();

        var data = [];
        for (var i = -15; i < 15; i+=0.5) {
            data.push({x:i,y:LaplaceDensity(i,mu,b)});
        };

        // Set the dimensions of the canvas / graph
        var margin = {
            top: 30,
            right: 20,
            bottom: 30,
            left: 50
        },
            width = 600 - margin.left - margin.right,
            height = 270 - margin.top - margin.bottom;

        


        // Set the ranges
        var x = d3.scale.linear().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(5);

        // Define the line
        var valueline = d3.svg.line()
            .x(function(d) {
                return x(d.x);
            })
            .y(function(d) {
                return y(LaplaceDensity(d.x,mu,b));
            });

        // Adds the svg canvas
        var svg = d3.select("#laplace-distr-plot")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");


        // Scale the range of the data
        x.domain(d3.extent(data, function(d) {
            return d.x;
        }));
        y.domain(d3.extent(data, function(d) {
            return d.y;
        }));

        function update(){
            mu = +$("#param_a").val();
            b = +$("#param_b").val();
            svg.selectAll("#regline")
                .transition()
                .duration(1200)
                .attr("d", valueline(data));
        }


        svg.append("path")
            .attr("class", "lineA")
            .attr("id", "regline")
            .attr("d", valueline(data));

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height - 6)
            .text("x");

        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("y", 6)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("p(x,mu,b)");

        
        setInterval(function() {
          update();
        }, 1500);


    })();
</script>