
<div class="figure">
<svg id="lsd-math-plot"></svg>
<div class="caption">Adjust the slope alpha and the intersection beta to match the datapoints.</div>

<span class="buttons">
alpha: <input type="text" id="alpha_linreg" value="0">
beta: <input type="text" id="beta_linreg" value="50">
<input type="button" onclick="resetfield('#alpha_linreg',0);resetfield('#beta_linreg',50);" value="reset">
<input type="button" onclick="resetfield('#alpha_linreg',-9.00);resetfield('#beta_linreg',89.1239);" value="get best values">
</span>


</div>



<script>
function resetfield(el,v){
    $(el).val(v);
}

    (function(global) {

        var data = [{
            x: 1.17,
            y: 78.93
        }, {
            x: 2.97,
            y: 58.20
        }, {
            x: 3.26,
            y: 67.47
        }, {
            x: 4.69,
            y: 37.47
        }, {
            x: 5.83,
            y: 45.65
        }, {
            x: 6.00,
            y: 32.92
        }, {
            x: 6.41,
            y: 29.97
        }];
        // Set the dimensions of the canvas / graph
        var margin = {
            top: 30,
            right: 20,
            bottom: 30,
            left: 50
        },
            width = 600 - margin.left - margin.right,
            height = 270 - margin.top - margin.bottom;


        // Set the ranges
        var x = d3.scale.linear().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);

        // Define the axes
        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(5);

        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(5);

        // Define the line
        var valueline = d3.svg.line()
            .x(function(d) {
                return x(d.x);
            })
            .y(function(d) {
                return y(d.y);
            });
        var valueLinReg = d3.svg.line()
            .x(function(d) {
                return x(d.x);
            })
            .y(function(d) {
                var tx = +$("#alpha_linreg").val();
                var ty = +$("#beta_linreg").val();

                return y( tx*d.x+ty );
            });

        // Adds the svg canvas
        var svg = d3.select("#lsd-math-plot")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");


        // Scale the range of the data
        x.domain(d3.extent(data, function(d) {
            return d.x;
        }));
        y.domain(d3.extent(data, function(d) {
            return d.y;
        }));

        function updateLinReg(){


    svg.selectAll("#regline")
        .transition()
        .duration(1200)
        .attr("d", valueLinReg(data));
}

        // Add the valueline path.
        svg.selectAll('.data-point')

          .data(data)
          .enter()
          .append("circle")
          .attr("class","classA")
          .attr("r", 3.5)
          .attr("cx", function(d) { return x(d.x); })

          .attr("cy", function(d) { return y(d.y); });

        svg.append("path")
            .attr("class", "line helper")
            .attr("id", "regline")
            .attr("d", valueLinReg(data));

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width)
            .attr("y", height - 6)
            .text("lsd");
        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("y", 6)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("mean math score");

        setInterval(function() {
          updateLinReg();
        }, 1500);

    })();
</script>