<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">IntelligentAlgorithms</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Linear Methods <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Linear Methods (Regression)</li>
                            <li><a href="/machinelearning/linear-regression/">Linear Regression</a>
                            </li>
                            <li><a href="/machinelearning/linear-regression-probabilistic/">Linear Regression (Ridge)</a>
                            </li>
                            <li><a href="/machinelearning/linear-regression-lasso/">Linear Regression (other Shrinktage methods)</a>
                            </li>
                            <li class="dropdown-header">Linear Methods (Classification)</li>
                            <li><a href="/machinelearning/linear-classification">Logistic Regression</a>
                            </li>
                            <li><a href="/machinelearning/perceptron">Perceptron Algorithm</a>
                            </li>
                            <!--<li><a href="#">Probit, Logit</a></li>-->
                            <li class="dropdown-header">Generalized Linear Methods</li>
                            <!--<li><a href="#">Exponential Families</a></li>
                            <li><a href="#">Softmax Regression</a></li>
                            <li><a href="#">Gaussian Discriminant Analysis</a></li>-->
                            <li class="dropdown-header">Limits of these Methods</li>
                            <!--<li><a href="#">Bias-Variance-Tradeoff</a></li>
                            <li><a href="#">Rademacher Complexity</a></li>-->
                            
                        </ul>
                    </li>

                    

                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SVM <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Bias-Variance-Tradeoff</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Neural Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Bias-Variance-Tradeoff</a></li>
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reinforcement Learning <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Bias-Variance-Tradeoff</a></li>
                            
                        </ul>
                    </li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Optimization <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/optimization/introduction">Introduction</a></li>
                            <li><a href="/optimization/linesearch">Linesearch</a></li>
                            <!-- <li><a href="#">Newton descent</a></li>
                            <li><a href="#">Conjugated Gradient descent</a></li>
                            <li class="dropdown-header">Quasi Newton</li>
                            <li><a href="#">BGFS</a></li>-->
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>