<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ "/js/vendor/d3.v3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/d3.legend.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/d3.surface.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" 
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" 
    src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>

    
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        
    </style>

    <script src="{{ "/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" | prepend: site.baseurl }}"></script>
</head>